*{
    font-family: "Open Sans", sans-serif; 
}

body {
    background: rgb(235,235,235);
    margin: 0;
    padding: 0;
}

/* --< main elements >-- */
div{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100vw; 
}

form{
margin-top: 10px;
}

.wait{
    background: #00e600;
    color: #fff;
    
}
.tap{
    background: red;
    color: #fff;
    cursor: pointer;
}

/* --< highscore elements >-- */
.highscore{
    background: rgb(35,35,35);
    color: #fff;
    display: block;
    font-size: 0.85em;
    height: auto;
    left: 0;
    padding: 4px;
    position: absolute; 
    top: 0;
    width: 100vw;
}
.hs{
   color: rgb(12,85,225); 
}

/* --< footer element >-- */
footer{
    background: rgb(205,205,205);
    bottom: 0;
    font-size: 0.85em;
    left: 0;
    padding: 0 4px;
    position: absolute; 
    text-align: center;
    width: calc(100% - 8px);
}

/* --< button element >-- */
button{
    background: rgb(12,85,225);
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin: 10px;
    padding: 5px 12px;
}

/* --< [dn] attribute for hiding elements easily >-- */
[dn]{
    display: none; 
}

/* Media query */

@media screen and (max-width: 1000px) {

}